# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda
lambda/package/
lambda_deployment.zip
lambda_package.zip
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Java / Maven
api/target/
*.jar
*.class
*.log
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Docker / LocalStack
volume/
infra/.terraform.lock.hcl
infra/.terraform.tfstate.lock.info
lambda/run_archival.py
